body {
  font-family: 'Staatliches', sans-serif;
  margin: 0;
  padding: 0;
}
.bg-retro {
  background-color: #610608;
}
.logo-retro {
  height: 130px;      
  max-height: 200px;
  object-fit: contain;
}

header input.form-control {
  border-radius: 8px;
  border: none;
  font-family: 'Staatliches', sans-serif;
  padding: 0.5rem 1rem;
}