.btn-tamanho {
  background-color: white !important;
  color: #222;
  border: 1px solid #444;
  font-weight: bold;
  transition: 0.3s;
}

.btn-tamanho:hover {
  background-color: #610608 !important;
  color: white !important;
  border-color: #610608;
}
.btn-comprar{
    background-color: #610608 !important;
    color: white !important;
    transition: 0.3s;
}
.btn-comprar:hover{
    background-color: #360304 !important;
    color: white !important;
}
.btn-calcular {
  background-color: #444 !important;
  color: white !important;
  transition: 0.3s;
}

.btn-calcular:hover {
  background-color: #610608 !important;
}
.descricao-geral {
  background-color: #f9f9f9;
  font-family: 'Staatliches', sans-serif;
  color: #4B5363;
}

.titulo-descricao {
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: 2px solid #610608;
  display: inline-block;
  padding-bottom: 0.5rem;
  color: #222;
}

.text-retro {
  color: #610608;
}
