<link rel="stylesheet" href="../../components/footer/footer.css">
<section class="footer-newsletter text-white">
  <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center py-3">
    <div class="text-center text-md-start mb-3 mb-md-0">
      <strong>CADASTRE-SE EM NOSSA NEWSLETTER</strong><br>
      <small>e receba 10% de desconto na primeira compra</small>
    </div>
    <form class="d-flex flex-column flex-sm-row gap-2" id="cadastro-newsletter">
      <input type="text" id="nome" class="form-control" placeholder="Seu nome">
      <input type="email" id="email" class="form-control" placeholder="Seu e-mail" pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$">
      <button type="submit" class="btn btn-purple">CADASTRE-SE</button>
    </form>
      <p style="text-align: right;">Clique <a href="../../pages/usuarios/usuarios.html">aqui</a> para ver quem já se cadastrou</p>
    <div id="mensagem" class="mt-2"></div>
  </div>
</section>

<footer class="footer-principal py-4">
  <div class="container text-center text-md-start">
    <div class="row align-items-center">
      <!-- Logo -->
      <div class="col-md-4 text-center mb-3 mb-md-0">
        <img src="https://res.cloudinary.com/dttszgzri/image/upload/v1749344022/RetroGoal_%C3%8Dcone_Logo_hdittw.png" alt="Logo" class="footer-logo mb-2">
        <p class="mb-0">A história recomeça com você!</p>
      </div>

      <!-- Redes sociais -->
      <div class="col-md-4 text-center mb-3 mb-md-0">
        <a href="#" class="social-icon"><i class="bi bi-linkedin"></i></a>
        <a href="#" class="social-icon"><i class="bi bi-facebook"></i></a>
        <a href="#" class="social-icon"><i class="bi bi-instagram"></i></a>
      </div>

      <!-- Pagamento -->
      <div class="col-md-4 text-center text-md-end">
        <strong>FORMAS DE PAGAMENTO</strong><br>
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/41/Visa_Logo.png" alt="Visa" class="payment-icon">
        <img src="https://upload.wikimedia.org/wikipedia/commons/0/04/Mastercard-logo.png" alt="Master" class="payment-icon">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a2/Logo%E2%80%94pix_powered_by_Banco_Central_%28Brazil%2C_2020%29.svg/250px-Logo%E2%80%94pix_powered_by_Banco_Central_%28Brazil%2C_2020%29.svg.png" alt="Pix" class="payment-icon">
      </div>
    </div>
  </div>
</footer>

<!-- Copyright -->
<div class="text-center small py-3 copyright-footer">
  Todos os direitos reservados © Wosiak, 2025.
</div>
<script src="./newsletter.js"></script>
